*{
  margin: 0;
}
.App {
  height: 100vh;
  background-image: url('./images/wallpaper2.png');
  background-repeat: repeat-y;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}
.app__postsRight{
  margin-left: 10px;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: url('./images/wallpaper2.png');
  background-repeat: repeat-y;
}
.app__headerImage{
  object-fit: contain;
  filter: invert(1);
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__signup>input{
  margin: 5px;
  padding: 10px;
}
.post__input{
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid rgb(0, 0, 0);
  background: transparent;
  
}
.post__button{
  flex: 0;
  border: none;
  color: #ffffff;
  background-color: transparent;
  border-top: 1px solid rgb(0, 0, 0)
  
}
.footer{
  text-align: center;
  border-top: 1px dotted rgb(0, 0, 0);
}
a{
  text-decoration: none;

}