.post{
    max-width: 600px;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 45px;
    background: transparent;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0)
}
.post__text{
    font-weight: normal;
    padding: 20px;
}
.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post__avatar{
    margin-right: 10px;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}
.post__comments{
    padding: 20px;
}
.comment{
    align-items: center;
    display: flex;
}
.comment>strong{
    margin-right: 10px;
    margin-left: 10px;
}
.headline{
    text-align: center;
    margin: 5px;
}
i{
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}
.like__avatar{
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
.likeCount{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button{
    cursor: pointer;
}
.Likes{
    padding-top:10px ;
}